body{
	background: #f2f2f2;
	font-family: 'Open Sans', sans-serif;
}
header{
	margin-top: 30px;
}
header .nav{
	min-height: 80px;
	overflow: hidden;
	background: #fff;
}

/* --- LOGO --- */
header .logo h2,
header .logo span,
header .logo p{
	font-size: 16px;
	display: inline-block;
	margin: 0px;
}
header .logo h2{
	font-weight: 800;
	text-transform: uppercase;
}
header .logo .icono{
	color: #bfbfbf;
}
header .logo p{
	color: #777777;
}
/* --- MENÚ --- */
header .menu{
	padding: 0;
}
header .menu a{
	display: block;
	padding: 0 30px;
	text-decoration: none;
	color: #fff;
}
header .menu a div span{
font-weight: 600;
}

header .menu .c-1{
	background: #3da5e2;
}
header .menu .c-2{
background: #005385;
}
header .menu .c-3{
background: #003855;
}
header .menu .c-1:hover{
	background: #1B9AE5;
}
header .menu .c-2:hover{
background: #00426a;
}
header .menu .c-3:hover{
background: #002d44;
}
/* --- SLIDER --- */
.slider{
	margin-bottom: 40px;
}
.slider .col{
	padding: 0;
}

/* --- MEDIAQUERIES --- */

/* Dispositivo xl */
/*@media screen and (max-width: 1119px){}*/

/* Dispositivo lg */
@media screen and (max-width: 991px){
	.logo{
		height: 76px;
	}
	.menu{
		min-height: 76px;
	}
	.menu a{
		width: 100%;
	}
	.menu a div{
		width: 100%;
	}
}

/* Dispositivo md */
@media screen and (max-width: 767px){}

/* Dispositivo sm */
@media screen and (max-width: 575px){
	header{
		margin-top: 0px;
	}
	header .logo h2,
	header .logo p{
		font-size: 12px;
	}
}
