		.fm-nav a{
			color: #fff;
			padding: 15px;
		}
		.fm-nav .disabled{
			color: rgba(255,255,255,.5);
		}
		.fm-nav a:hover{
		background: rgba(255,255,255,.1);
		}
		.nav{
			background: white;
		}
		.texto-logo{
			padding-top: 25px;
			font-weight: bold;
		}
		.logo-infoteca{
			height: 62px;
			width: 180px;
		}